# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
backend/models/
*.pkl
*.joblib

# Environment files
.env
*.env

# Node
node_modules/
frontend/dist/
frontend/.env

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
